// Base styles
@import 'base/variables';
@import 'base/reset';

// Components
@import 'components/header';
@import 'components/footer';
@import 'components/dropdown';
@import 'components/form';

// Routes/Pages
@import 'routes/home';
@import 'routes/about';
@import 'routes/work';

// Utilities
@import 'utilities/helpers';