/* Base styles and resets */

body {
  font-family: $font-primary;
  background-color: $color-white;
  margin: 0;
  color: $color-text;
  font-style: normal;
  color: #333;
  font-weight: 400;
  text-transform: none;
  line-height: 27px;
}

h3 {
  margin: 0;
}
