// Color Variables
$color-white: #f1efef;
$color-green: #ccc8aa;
$color-charcoal: #7d7c7c;
$color-black: #191717;
$color-text: #333;

// Typography
$font-primary: Open Sans, HelveticaNeue, Helvetica Neue, sans-serif;
$font-header: futura-pt;

// Breakpoints
$breakpoint-mobile: 800px;

// Spacing
$border-width: 3px;