
<footer class="footer">
  <div class="nav">
  </div>
  <div class="signature">
    <div class="fill"></div>
    <p>Site designed by Matt Beaudoin</p>
  </div>
  <div class="social">
    <LinkTo @route="about" class="footer-link"><img src="/images/insta_logo.svg" class="insta-logo"/></LinkTo>
  </div>
</footer>