
<footer class="footer">
  <div class="nav">
  </div>
  <div class="signature">
    <div class="fill"></div>
    <p>Site designed by Matt Beaudoin</p>
  </div>
  <div class="social">
    <a href="https://www.instagram.com/meristemwoodworks"><img src="/images/insta_logo.svg" class="insta-logo"/></a>
  </div>
</footer>