
<header class="header">
  <h3>Shelton Woodworking</h3>

  <section class="p-menu1">
    <nav id="navbar" class="navigation" role="navigation">
      <input id="toggle1" type="checkbox" />
      <label class="hamburger1" for="toggle1">
        <div class="top"></div>
        <div class="meat"></div>
        <div class="bottom"></div>
      </label>
      <div class="menu1">
        <LinkTo @route="meristem" class="link1">meristem</LinkTo>
        <LinkTo @route="shelton" class="link1">shelton</LinkTo>
        <LinkTo @route="contact" class="link1">contact</LinkTo>
      </div>
    </nav>
  </section>

</header>