
<header class="header">
  <h3>Meristem Woodworks</h3>
    <section class="p-menu1">
      <nav id="navbar" class="navigation" role="navigation">
        <button class="dropbtn" type="button" {{on "click" this.toggleHamburger}}>
            <div class="hamburger">
              <div class="bars"></div>
              <div class="bars"></div>
              <div class="bars"></div>
            </div>
          {{#if this.expandHamburger}}
            <div class="dropdown">
              <div class="dropdown-content" {{on-click-outside this.hideHamburger}}>
                <LinkTo @route="meristem" class="link1">meristem</LinkTo>
                <LinkTo @route="about" class="link1">about</LinkTo>
                {{!-- <LinkTo @route="contact" class="link1">contact</LinkTo> --}}
              </div>
            </div>
            {{/if}}
        </button>
      </nav>
    </section>
</header>