.dropbtn {
  background-color: $color-white;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
}

.hamburger {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0;
  z-index: 120;
  background-color: $color-white;

  .bars {
    height: 3px;
    width: 100%;
    background-color: $color-text;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
  }

  &.open {
    .bar1 {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  margin: 0.2em 0.2em 0em 0em;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.9s ease, transform 0.9s ease;
  pointer-events: none;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.expand-dropdown {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}
