footer {
  padding: 0.5em;
  height: 7em;
  background-color: #000;
  display: flex;
  justify-content: space-between;

  .nav {
    width: 3em;
  }

  .signature {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    bottom: 0;
    font-size: 0.5em;
    color: $color-white;
  }

  .social {
    width: 3em;
    padding: 1em;
    float: right;

    .insta-logo {
      float: right;
      width: 1.5em;
      fill: $color-white;
    }
  }
}

