.section {
  padding: 1em 0 1em 0;
  font-family: 'Source Serif 4', serif;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.about {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 1.5rem;
  
  @media (min-width: $breakpoint-mobile) {
    padding: 4rem 2rem;
  }
}

.about .main {
  border-bottom: $border-width solid $color-green;
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  img {
    width: 100%;
    max-width: 48rem;
    display: block;
    margin: 0 auto;
  }
}

.about .two-column {
  padding-top: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 2rem;
  
  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
    gap: 3rem;
    align-items: flex-start;
  }
}

.about .twocolumnimg {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  
  @media (min-width: $breakpoint-mobile) {
    width: 100%;
    max-width: none;
  }
}

.about .reverse {
  @media (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}