

.section {
  padding: 1em 0 1em 0;
  font-family: 'Source Serif 4', serif;
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}
.about{
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.main {
  border-bottom: $border-width solid $color-green;

  img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.two-column {
  padding-top: 2em;
  display: flex;
  align-items: center;
  gap: 3em;
  justify-content: center;
}

.twocolumnimg {
  max-width: 300px;
}

@media screen and (max-width: $breakpoint-mobile) {
  .two-column {
    padding-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3em;
  }

  .twocolumnimg {
    max-width: 300px;
  }

  .reverse {
    flex-direction: column;
  }
}

