.content {
  padding: 0 1.5rem;
  
  @media (min-width: $breakpoint-mobile) {
    padding: 0 3rem;
  }
}

.content-narrow {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
}

.content-standard {
  max-width: 56rem;
  margin-left: auto;
  margin-right: auto;
}

.content-wide {
  max-width: 72rem;
  margin-left: auto;
  margin-right: auto;
}