{{page-title "about"}}
{{outlet}}
<div class="about">
  <div class="two-column">
    <img src="/images/flip1.jpeg"/>
    <p>
      I love human-built spaces and the tactile experience of interacting with well-built and thoughtful environments. I work to create functional pieces that people can use in their everyday lives. Having grown up in the hardwood forests of the Midwest, I now reside in the rainforests of the Olympic Peninsula on a collectively owned property of second growth mixed conifers and open wetlands. Half of the year you’ll find me at the Port Townsend School of Woodworking, where I am a lead instructor for the 6-month Foundations of Woodworking intensive program. The other half of the year, you can find me in my humble off-grid wood shop building custom furniture, suiting up with a tool belt for rough and finish carpentry work, or strapping on a backpack and heading into the mountains. I live with my dog Stevie high up in a trio of cedar trees in a hand made treehouse.
    </p>
  </div>
</div>