{{page-title "about"}}
{{outlet}}
<div class="about content">
  <div class="section">
    <div class="main">
      <img src="/images/process1.jpg"/>
    </div>
  </div>
</div>
<div class="section">
  <div class="two-column">
    <img src="/images/headshot1.jpg" class="twocolumnimg"/>
    <div>
      <p>
        I love human-built spaces and the tactile experience of interacting with well-built and thoughtful environments. I work to create functional pieces that people can use in their everyday lives.
      </p>
      <p>
        Having grown up in the hardwood forests of the Midwest, I now reside in the rainforests of the Olympic Peninsula on a collectively owned property of second growth mixed conifers and open wetlands. I live with my dog Stevie high up in a trio of cedar trees in a hand made treehouse.
      </p>
      <p>
      Half of the year you’ll find me at the Port Townsend School of Woodworking, where I am a lead instructor for the 6-month Foundations of Woodworking intensive program. The other half of the year, you can find me in my humble off-grid wood shop building custom furniture, suiting up with a tool belt for rough and finish carpentry work, or strapping on a backpack and heading into the mountains. 
      </p>
    </div>
  </div>
</div>
<div class="section">
  <div class="two-column reverse form-section">
    <div>
      <p class="call equal">Get in touch</p>
    </div>
  <form action="https://formsubmit.co/ddfe4f7712c6222c58c45996a4097bf2" method="POST">
    <div class="form">
      <div class="field equal">
        <label for="message-field">
          <span>message</span> 
        </label>
        <input type="text" name="name" required>
      </div>
      <div class="field equal">
        <label for="message-field">
          <span>email</span> 
        </label>
        <input type="email" name="email" required>
      </div>
      <div class="field equal">
        <button type="submit">Send</button>
      </div>
    </div>
  </form>
  </div>
</div>