{{page-title "About"}}
{{outlet}}
<div class="about">
  <div class="two-column">
    
    <img src="/images/flip1.jpeg"/>
    <p>Phillip Shelton is a furniture maker and teacher at the Northwest School of Woodworking in Port Townsend. 
      <br/><br/> 
      He lives with his dog Stevie in a treehouse he built between three cedars on the Olympic Peninsula.
    </p>
  </div>
</div>