{{page-title "Contact"}}
{{outlet}}
<form action="https://formsubmit.co/e7346e8cb34e11fbca645547a07ef330" method="POST">
     content <input type="text" name="name" required>
     email <input type="email" name="email" required>
     <button type="submit">Send</button>
</form>