{{page-title "Meristem"}}
<div class="content meristem">
  <div class="main section">
    <img id="banner" src="/images/windsorchairdetail.jpg"/>
  </div>
  <p class="center-text" id="title">meristem</p>
  <p><i>The actively dividing and multiplying cells that differentiate to form all parts of a plant. Found in the root tips, branch tips and lateral growth areas, the meristem is where the magic of plant growth happens. It’s the starting point for the life of a tree, and thus the starting point for the furniture I build.</i></p>
  <div class="section">
  {{!-- <Carousel @className="meristem-gallery" @images={{array 
    (hash src="/images/barstools2.jpg" alt="A pair of winsor barstools")
    (hash src="/images/armoire.jpg" alt="A tall black and natural grain wooden armoire")
    (hash src="/images/blanketchest3.jpg" alt="Blanket chest with with grained panels")
    (hash src="/images/desk1.jpg" alt="Drafting desk with tapered legs")
    (hash src="/images/windsorchair2a.jpg" alt="Classic Windsor chair")
    (hash src="/images/alderbench1.jpg" alt="Alder wood bench with live edge")
    (hash src="/images/process4.jpg" alt="Workbench with tools mid-project")
    (hash src="/images/maplebench2detail.jpg" alt="Detail of maple bench joinery")
    (hash src="/images/kumikowallcabinet.jpg" alt="Kumiko-style wall cabinet")  
    }} /> --}}

  <SwiperCarousel @images={{array
    (hash src="/images/barstools2.jpg" alt="A pair of winsor barstools")
    (hash src="/images/armoire.jpg" alt="A tall black and natural grain wooden armoire")
    (hash src="/images/blanketchest3.jpg" alt="Blanket chest with grained panels")
    (hash src="/images/desk1.jpg" alt="Drafting desk with tapered legs")
    (hash src="/images/windsorchair2a.jpg" alt="Classic Windsor chair")
    (hash src="/images/alderbench1.jpg" alt="Alder wood bench with live edge")
    (hash src="/images/process4.jpg" alt="Workbench with tools mid-project")
    (hash src="/images/maplebench2detail.jpg" alt="Detail of maple bench joinery")
    (hash src="/images/kumikowallcabinet.jpg" alt="Kumiko-style wall cabinet")  
}} />

    {{!-- <img src="/images/process4.jpg"/>
    <img src="/images/maplebench2detail.jpg"/>
    <img src="/images/kumikowallcabinet.jpg"/> --}}

    {{!-- <img src="/images/barstools2.jpg"/>
    <img src="/images/armoire.jpg"/>
    <img src="/images/blanketchest3.jpg"/> --}}
  </div>
  <p>
    Meristem Woodworks is the home for the furniture and interior carpentry work of Philip Shelton. <br/>
    I characterize my furniture design style as wood-forward; showcasing the wood for what it is, without diminishing or masking it. <br/>
    The wood itself is the centerpiece and the aesthetic of my work.  
  </p>
  {{!-- <div class="gallery section">
    <img src="/images/desk1.jpg"/>
    <img src="/images/windsorchair2a.jpg"/>
    <img src="/images/alderbench1.jpg"/>
  </div> --}}
  <p>
  Wood is a living medium, and the furniture maker an artist who works that life into new forms. <br/>
  Furniture making is not a static activity, with dead inputs and stagnant outcomes.
  </p>
  <p>
  In crafting new forms of being from living mediums, I strive to imbue each piece with the honor and respect that the trees deserve as they’re morphed into becoming part of our daily lives in our built spaces.
  </p>
  <p>
  After all, furniture is but one possibility in the lifespan of a tree.
  </p>
  {{!-- <div class="gallery section">
    <img src="/images/process4.jpg"/>
    <img src="/images/maplebench2detail.jpg"/>
    <img src="/images/kumikowallcabinet.jpg"/>
  </div> --}}
</div>
{{outlet}}