{{page-title "Work"}}
<div class="content work">
      <div class="content-sub">
        <h5>What I do:</h5>
        <p>
        Well-built furniture grows a community around it. I work with clients to design and build custom and semi-custom furniture that brings people together to enjoy our curated spaces. Life’s memories are made in interaction with our built environments and high quality, beautiful and tactile furniture brings pieces of the natural world into our every day lives. 
        </p>
      </div>
      <div class="two-column">
        <div class="left">
          <div class="content-sub">
            <h5>Process:</h5>
              <p>Designing and creating custom furniture is a dance between builder and client. I work closely with clients and designers to identify needs, understand existing spaces and defining aesthetics, and refine concepts into hard designs. We work together to understand the construction of the pieces and choose the woods that they will be welcoming into their homes.
              Our work together will be custom to your space and desires. This takes time and patience, as we get to know each other and work to find the right wood and aesthetics for you. Project lead times vary greatly throughout the year, mainly depending on my teaching work load. Timeline, expectations and costs will be clearly defined together as we zero in on the scope of a project. 
              Being a woodworker is as much about tending to the natural environment as it is making sawdust in the shop. Each piece that I make is an invitation to regenerate the forests around me, to tend to and steward the tree stands in my area. Clients will be welcomed to join me in regenerative activities such as tree planting, wetland conservation and wildlife species diversification work.</p>
          </div>
          <div class="content-sub">
            <h5>Wood:</h5>
            <p>My furniture is built from solid wood, using traditional joinery methods and building techniques when applicable. It is intended to be used; to be sat on or gathered around, to hold you while you sleep and store your precious objects. The quality of materials and forms of construction are chosen to last forever, to truly be heirloom pieces. 
            Being based on the Olympic Peninsula, I am blessed with a wide range of high quality furniture	grade wood from hyper local sources. Whenever possible, I work with the client to choose locally grown, harvested, milled and dried wood to connect our inside lives with the outside world around us. Working with a team of foresters, small scale loggers and arborists, highly skilled sawyers and local small businesses, I am able to source beautiful pieces of many different species; red alder, big leaf maple, black locust, white oak and the firs, cedars, spruces and hemlocks that dominate our landscape. Other woods, sustainably harvested and processed, can be acquired through non-local sources as well. </p>
          </div>
        </div>
        <div class="right">
          <img src="/images/shojilamp.jpg"/>
        </div>
      </div>
      <div class="content-sub">
        <h5>Details:</h5>
        <p>In creating relationships with clients and working in my local environments, my work is necessarily focused on the Pacific Northwest region. This doesn’t mean I won’t work with anyone outside of that region, as our mediated forms of communication can be just as effective as face to face meetings. The key to successful relationships between builders and clients is communication. So if you have an idea for a project, I’m all ears. (link to contact form here)
        Local pickup on the Olympic Peninsula is always possible. Delivery of pieces to the greater Puget Sound region is easily arranged. Delivery outside of that area will be discussed on a case by case basis. Shipping to other parts of the country is possible, with certain specific caveats that we can discuss.
        Design work can be a time consuming process. Once we establish a working relationship (an intention to work together), design time will be billed. If for some reason we decide not to move forward with the building of a piece, the design is yours to keep; build it yourself, shop it around to other woodworkers, etc.
        Depending on the scope of a project, I may ask for a deposit for materials and initial time investment. This is usually a 50% deposit, but we can work out alternative arrangements if need be.
        I am not currently taking on projects that require county building permits. If you don’t know if a permit is required, we can discuss the details. If we find a permit is required, I can suggest a number of  highly skilled general contractors and subcontractors that can work with you to stay within the letter of the requirements. My work would then shift to specific aspects of a project as defined by my relationship with those contractors.</p>
      </div>
</div>
{{outlet}}